<%= form_with(model: @salon, local: true) do |f| %>

<p>
	<%= f.label :name %><br/>

	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :location %><br/>
	<%= f.text_field :location %>
</p>

<p>
	<%= f.label :salon_image %><br/>
	<%= f.file_field :image %>
</p>

<p>
	<%= f.submit :Save %>
</p>
<% end %>